*
{
    padding: 0;
    margin: 0;
}

/*-------Navigation------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-grp img
{
    height: 50px;
    width: 180px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;

}
.navbar-nav li a
{
    float: right;
    text-align: left;

}
#nav-bar ul li a:hover
{
    color: #007bff !important;
}
.navbar
{
    background: #c7c7c7;
    padding: 0 !important;
}
.navbar-toggler
{
    outline: none !important;
    border: groove !important;
}
.nav-link
{
    color:#000000 !important;
    font-weight: 900;
    font-size: 20px;
}
/*------Team Members*/
#team
{
    background-image: url(img/team.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 80px;
    color: #efefef;
}
h1
{
    text-align: center;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#ijob
{
    padding-top: 50px;
    margin: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
h1
{
    padding-bottom: 10px;
}

.content-table
{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead, td
{
    border: 2px solid #007bff;
    width: auto;
}
.content-table thead tr
{
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table td
{
    padding: 12px 15px;
}
.content-table tbody tr
{
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.content-table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}
.content-table tbody tr:hover
{

    color: #007bff;
}
.ideal
{
    border-left: 4px solid #007bff;
    margin: 40px;
    display: inline-block;
}
#iwork
{
    background-image: url(img/team.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 80px;
    color: #efefef;
}
p.collapse:not(.show)
{
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
}

#pidea
{
    background-image: url(img/team.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.ph1
{
    color: #efefef ;
    text-align: center;
    padding-bottom: 10px;
}
.ph2
{
    color: #efefef ;
    text-align: left;
    padding-bottom: 10px;
}
.ph3
{
    color: #efefef ;
    text-align: center;
    padding-bottom: 10px;
}

.pp
{
    padding-left: 25px;
    color: #efefef ;
    text-align: justify;
}
.ppb
{
    font-size: 25px;
}
.pul
{
    margin: 20px;
}
.special
{
    text-align: center;
}
#grpref
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#grpref 
{
    margin-top: 30px;

}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img
{
    top: -60px;
    position: absolute;
    left: calc(60% - 25%);
    border: 10px solid #ffffff;
}
.profile h4
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff; 
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before
{
    content: '\"';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: '\"';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    right: 5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
.row p
{
    text-align: center;
}
.gh3
{
    text-align: center;
}
#itech
{
    background-image: url(img/team.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.container p
{
    padding-left: 25px;
    color: #efefef ;
    text-align: justify;
}
.container h2
{
    color: #efefef ;
    padding-bottom: 10px;
}
.container h5
{
    color: #efefef ;
    padding-bottom: 10px;
}
.container h6
{
    color: #efefef ;
}
#idata
{
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
bh1
{
    color: #000000 ;
    text-align: center;
    padding-bottom: 10px;
}
.containeri h5
{
    color: #000000 ;
    text-align: center;
}
#tools
{
    padding-top: 50px;
    margin: 80px;
    padding-bottom: 20px;
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
}
.bth3
{
    color: #000000 ;
    text-align: left;
    padding-bottom: 10px;
}
.rowb p
{
    padding-left: 25px;
    color: #000000 ;
    text-align: justify;
}
.rowb h5
{
    color: #000000 ;
    text-align: left;
}
.bh3
{
    color: #000000 ;
    text-align: center;
    padding-bottom: 10px;
}
.tab h5
{
    color: #000000 ;
    text-align: center;
    padding-bottom: 10px;
}

#footer
.pb
{
    color: #000000 ;
}
.black p
{
    color: #000000
}
.fhead h5
{
    color: #000000
}
.fhead h6
{
    color: #000000
}